{:duct.profile/base
                      {:duct.core/project-ns                 sampleapi

                       :duct.router/ataraxy
                                                             {:routes     {[:get "/example"]                                                         [:sampleapi.handler/example]
                                                                           [:get "/whoami"]                                                          ^:jws-auth [:sampleapi.handler/whoami]
                                                                           [:post "/login" {{username "username" password "password"} :form-params}] [:sampleapi.handler/login username password]}

                                                              :middleware {:jws-auth #ig/ref :duct.middleware.buddy/authentication}}

                       :sampleapi.handler/example
                                                             {:db #ig/ref :duct.database/sql}

                       :sampleapi.handler/whoami             {}
                       :sampleapi.handler/login              {:db     #ig/ref :duct.database/sql
                                                              :secret "MY_SECRET"}

                       :duct.middleware.buddy/authentication {:backend :jws
                                                              :secret  "MY_SECRET"}}

 :duct.profile/dev    #duct/include "dev"
 :duct.profile/local  #duct/include "local"
 :duct.profile/prod   {}

 :duct.module/logging {}
 :duct.module.web/api {}
 :duct.module/sql     {}}
